.container{
    display:inline-flex;
    overflow:auto;
    padding:0 15px;
    width:95%;
    transition: all ease 1s;
}
.btn :focus .container{
    transform: translateX(10px);
}
.swiper :global(.swiper-slide){
    display: block;
    width: auto;
    margin-right: 8px;
  }
  .swiper{
      background-color: crimson;
  }